body {
    font-family: Arial, sans-serif;
    background-color: #f5f4d6;
    color: #170c56;
    text-align: center;
    padding: 2rem;
}

#lyrics {
    margin-top: 2rem;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}